---
import { type CollectionEntry, getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
export const prerender = true;

export const getStaticPaths = async () =>
  (await getCollection("blog")).map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));

const entry = Astro.props.entry as CollectionEntry<"blog">;
const { Content } = await entry.render();
const { title, publishedAt, keywords } = entry.data;
---

<BaseLayout frontmatter={entry.data}>
  <main>
    <article>
      <h1>{title}</h1>
      <Content />
    </article>
  </main>
</BaseLayout>
