*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --c-bg: #fff;
    --c-text: #000;
    --c-link-text: blue;
    --c-visited-text: purple;
    --c-tooltip: #000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --c-bg: black;
        --c-text: white;
        --c-link-text: aqua;
        --c-visited-text: mistyrose;
        --c-tooltip: aqua;
    }
}

@supports (color-scheme: light dark) {
    :root {
        --c-bg: Canvas;
        --c-text: CanvasText;
        --c-link-text: LinkText;
        --c-visited-text: VisitedText;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --c-link-text: aqua;
            --c-visited-text: mistyrose;
        }
    }
}

/* For Safari on iOS. Hacky, but it works. */
@supports (background-color: -apple-system-control-background) and (color: text) {
    :root {
        --c-bg: -apple-system-control-background;
        --c-text: text;
    }
}

html {
    background: var(--c-bg);
    color: var(--c-text);
}

::selection {
    background-color: var(--c-text);
    color: var(--c-bg);
}

@supports (height: 100dvh) {
    body {
        min-height: 100dvh;
    }
}

@supports not (height: 100dvh) {
    body {
        min-height: 100vh;
    }
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body>* {
    margin: 0 auto;
    width: 85%;
}

a {
    outline: none;
    text-decoration: none;
}

a:not(:has(i)) {
    color: var(--c-link-text);
}

a:not(:has(i)):visited {
    color: var(--c-visited-text);
}

a:not(:has(i)):hover {
    text-decoration: underline;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

input,
button,
textarea,
select {
    font: inherit;
}
