*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --c-bg: Canvas;
    --c-text: CanvasText;
    --c-link-text: LinkText;
    --c-visited-text: VisitedText;
    --c-active-text: ActiveText;
    --c-highlight-bg: black;
    --c-highlight-text: white;
    --c-tooltip: black;
}

@media (prefers-color-scheme: dark) {
    :root {
        --c-link-text: aqua;
        --c-visited-text: mistyrose;
        --c-active-text: none;
        --c-highlight-bg: white;
        --c-highlight-text: black;
        --c-tooltip: aqua;
    }
}

html {
    background: var(--c-bg);
    color: var(--c-text);
}

::selection {
    background-color: var(--c-highlight-bg);
    color: var(--c-highlight-text);
}

@supports (height: 100dvh) {
    body {
        min-height: 100dvh;
    }
}

@supports not (height: 100dvh) {
    body {
        min-height: 100vh;
    }
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body>* {
    margin: 0 auto;
    width: 85%;
}

a {
    outline: none;
    text-decoration: none;
    transition: all 200ms ease-out;
}

a:hover {
    transition-timing-function: ease-in;
}

a {
    color: var(--c-link-text);
}

a:visited {
    color: var(--c-visited-text);
}

a:active {
    color: var(--c-active-text);
}

a:hover {
    text-decoration: underline;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

input,
button,
textarea,
select {
    font: inherit;
}
