*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

::selection {
    background-color: var(--gray-8);
    color: var(--gray-1);
}

html,
body {
    font-family: "RubikVariable", sans-serif;
    background-color: var(--gray-1);
    color: var(--gray-8);
}

@media (prefers-color-scheme: dark) {
    ::selection {
        background-color: var(--gray-1);
        color: var(--gray-8);
    }

    html,
    body {
        background-color: #1e293b;
        color: #f8fafc;
    }
}

/* Currently supported only on Firefox and Safari - https://caniuse.com/viewport-unit-variants */
@supports (height: 100dvh) {

    html,
    body {
        height: 100dvh;
    }
}

@supports not (height: 100dvh) {

    html,
    body {
        height: 100%;
    }
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body>* {
    margin: 0 auto;
    width: 85%;
}

a {
    outline: none;
    text-decoration: none;
}
