@import "open-props/normalize";
@import "open-props/buttons";

html {
    block-size: 100%;
    background-color: var(--sc-bg);
    color: var(--sc-text);
    font-family: "RubikVariable", sans-serif, var(--font-sans, sans-serif);
    font-feature-settings: "tnum";
    font-optical-sizing: auto;
}

/* For Safari on iOS, hacky but it works */
@supports (background-color: -apple-system-control-background) {
    html body {
        --sc-bg: -apple-system-control-background;
        --sc-text: text;
    }
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body>* {
    margin: 0 auto;
    width: 85%;
}
