---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Default.astro";
const poems = await getCollection("poems");
import dayjs from "dayjs";

const props = {
	title: "Poems",
	description: "A collection of poems.",
};
---

<Layout {...props}>
  <ul>
    {
      poems.map((poem) => (
        <li>
          <a href={`/poems/${poem.slug}/`} set:text={poem.data.title} />
          <span>&bull;</span>
          <time datetime={dayjs(poem.data.pubDate).format("MMMM D, YYYY")}>
            {dayjs(poem.data.pubDate).format("MMMM D, YYYY")}
          </time>
        </li>
      ))
    }
  </ul>
</Layout>
