---
import Layout from "../layouts/Default.astro";

const props = {
	title: "404",
	description: "Page not found",
};

// 404 css glitch from https://codepen.io/pgalor/pen/OeRWJQ
---

<style is:inline>
  body {
    background-color: var(--gray-10);
  }

  #logo {
    fill: var(--gray-1);
  }

  #bull {
    color: var(--gray-1);
  }
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100lvh - 25rem);
    margin: 0;
    font-size: 96px;
    font-family: var(--font-mono);
    color: var(--gray-1);
  }

  #some {
    animation: glitch 1s linear infinite;
  }

  @keyframes glitch {
    2%,
    64% {
      transform: translate(2px, 0) skew(0deg);
    }
    4%,
    60% {
      transform: translate(-2px, 0) skew(0deg);
    }
    62% {
      transform: translate(0, 0) skew(5deg);
    }
  }

  div:before,
  div:after {
    content: attr(title);
    position: absolute;
    left: 0;
  }

  div:before {
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }

  @keyframes glitchTop {
    2%,
    64% {
      transform: translate(2px, -2px);
    }
    4%,
    60% {
      transform: translate(-2px, 2px);
    }
    62% {
      transform: translate(13px, -1px) skew(-13deg);
    }
  }

  div:after {
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }

  @keyframes glitchBotom {
    2%,
    64% {
      transform: translate(-2px, 0);
    }
    4%,
    60% {
      transform: translate(-2px, 0);
    }
    62% {
      transform: translate(-22px, 5px) skew(21deg);
    }
  }
</style>
<Layout {...props}>
  <main>
    <div id="some">404</div>
  </main>
</Layout>
