---
import Layout from "../layouts/Default.astro";

const props = {
  title: "",
  description: "My personal website",
};
---

<Layout {...props}>
  <main>
    <h2 set:text="Hey, I'm Jacob Lamb." />
    <p
      set:html={`I'm a ${new Date().getFullYear() - 2002} y/o, self-taught developer who enjoys reading and playing games.`}
    />
  </main>
</Layout>
