---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";
import { social } from "../data/social";
---

<Layout
    title="Jacob Lamb - Creative Developer"
    description="I'm a creative developer who builds accessible, high-performant, responsive webites."
>
    <main>
        <div>
            <span>Hi, I'm Jacob.</span>
            <span>
                I like to build accessible, high-performant, and responsive web
                apps.
            </span>
        </div>
        <div>
            {
                social.map((item) => (
                    <Link
                        href={item.url}
                        rel="external"
                        isButton={true}
                        isExternal={true}
                    >
                        <i
                            class:list={[
                                item.icon,
                                item.style,
                                item.rotate,
                                "fa-fw",
                            ]}
                            style={
                                item.rotate ? "--fa-rotate-angle: 25deg;" : ""
                            }
                        />
                        {item.name}
                    </Link>
                ))
            }
        </div>
    </main>
    <style>
        main {
            display: flex;
            flex-direction: column;
            gap: var(--size-fluid-2);
        }
        main > div:first-child span:first-child {
            font-size: var(--font-size-7);
        }
        span {
            display: block;
            font-size: var(--font-size-3);
            max-inline-size: var(--size-content-2);
        }
        main > div:nth-child(2) {
            display: inline-flex;
            gap: 1rem;
        }
    </style>
</Layout>
