---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";
import { social } from "../data/social";
---

<Layout
    title="Jacob Lamb - Creative Developer"
    description="I'm a creative developer who builds accessible, high-performant, responsive webites."
>
    <header>
        <div>
            <span>Hi, I'm Jacob.</span>
            <span>
                I like to build accessible, high-performant, and responsive web
                apps.
            </span>
        </div>
        <div>
            {
                social.map((item) => (
                    <Link href={item.url} rel="external" isButton={true}>
                        <i
                            class:list={[item.icon, item.style, item.rotate]}
                            style={
                                item.rotate ? "--fa-rotate-angle: 25deg;" : ""
                            }
                        />
                        {item.name}
                    </Link>
                ))
            }
        </div>
    </header>
    <style>
        header {
            display: grid;
            gap: var(--size-fluid-2);
        }
        header > div:first-child {
            display: grid;
        }
        header > div:first-child span:first-child {
            font-size: var(--font-size-7);
        }
        span {
            font-size: var(--font-size-3);
            max-inline-size: var(--size-content-2);
        }
        header > div:nth-child(2) {
            display: inline-flex;
            gap: 1rem;
        }
    </style>
</Layout>
