---
import Layout from "../layouts/Layout.astro";

const props = {
	title: "",
	description: "My personal website",
};
---

<Layout {...props}>
  <main>
    <h2 set:text="Hey, I'm Jacob Lamb." />
    <p>
      I'm {new Date().getFullYear() - 2002} y/o, self-taught developer who enjoys
      reading and <a
        href="https://www.puzzmo.com/user/zf/jacobdalamb"
        set:text="playing games"
      />.
    </p>
  </main>
</Layout>
