---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";
---

<Layout
    title="Jacob Lamb - Creative Developer"
    description="I'm a creative developer who builds accessible, high-performant, responsive webites."
>
    <main>
        <div>
            <span>Hi, I'm Jacob.</span>
            <span>
                I like to build accessible, high-performant, and responsive web
                apps.
            </span>
        </div>
        <div>
            <Link
                href="https://read.cv/jacobthesheep"
                isButton={true}
                isExternal={true}
            >
                Read.cv
            </Link>
        </div>
    </main>
    <style>
        main {
            display: flex;
            flex-direction: column;
            gap: var(--size-fluid-2);
        }
        main > div:first-child span:first-child {
            font-size: var(--font-size-7);
        }
        span {
            display: block;
            font-size: var(--font-size-3);
            max-inline-size: var(--size-content-2);
        }
        main > div:nth-child(2) {
            display: inline-flex;
            gap: 1rem;
        }
    </style>
</Layout>
