---
import Layout from "../layouts/BaseLayout.astro";
import Link from "../components/Link.astro";
const props = {
    title: "Jacob Lamb - Creative Developer",
    description:
        "I'm a creative developer who builds accessible, high-performant, responsive webites.",
    image: "home",
};
---

<Layout {...props}>
    <main>
        <h1>Hi, I'm Jacob.</h1>
        <p>
            I like to build accessible, high-performant, and responsive web
            apps.
        </p>

        <Link
            href="https://read.cv/jacobthesheep"
            isButton={true}
            isExternal={true}
        >
            Read.cv
        </Link>
    </main>
</Layout>
