---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Jacob Lamb - Creative Developer"
  description="I'm a creative developer who builds accessible, high-performant, responsive webites."
>
  <header>
    <div>
      <!-- ¿Appeal to book sites? -->
      <h1>Hi, I'm Jacob.</h1>
      <p>
        I like to build accessible, high-performant, and responsive web apps.
      </p>
      <div>
        <a href="https://read.cv/jacobthesheep" rel="external">view resume</a>
        <a href="https://codepen.io/jacobthesheep" rel="external">
          >view codepens</a
        >
      </div>
    </div>
  </header>
  <style>
    h1 {
      font-size: var(--font-size-fluid-3);
    }
    p {
      font-size: var(--font-size-fluid-1);
      max-inline-size: var(--size-content-2);
    }
    a {
      transition: all 200ms ease-out;
      font-size: var(--font-size-fluid-0);
    }

    a:hover {
      transition-timing-function: ease-in;
    }
  </style>
</Layout>
