---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Jacob Lamb - Creative Developer"
  description="I'm a creative developer who builds accessible, high-performant, responsive webites."
>
  <header>
    <div>
      <span>Hi, I'm Jacob.</span>
      <span>
        I like to build accessible, high-performant, and responsive web apps.
      </span>
      <div class="links">
        <a href="https://read.cv/jacobthesheep" rel="external" class="icon"
          >view resume</a
        >
        <a href="https://codepen.io/jacobthesheep" rel="external" class="icon"
          >view codepens</a
        >
      </div>
    </div>
  </header>
  <style>
    header > div {
      display: flex;
      flex-direction: column;
    }
    header > div span:first-child {
      font-size: var(--font-size-xxxl);
    }
    span {
      font-size: var(--font-size-md);
      max-inline-size: var(--size-content-2);
    }
    .links {
      display: inline-flex;
      gap: 1rem;
    }
  </style>
</Layout>
