---
import Layout from "../layouts/Default.astro";
import dayjs from "dayjs";

const props = {
  title: "Uses",
  description: "Things that I use on an almost daily basis.",
};

const lastUpdated = "2021-10-20";
---

<Layout {...props}>
  <main>
    <p>
      Last updated: <time datetime={`${lastUpdated}`}
        >{dayjs(lastUpdated).format("YYYY-MM-DD")}</time
      >
    </p>
    <h1 set:text="Uses" />
    <p set:html={props.description} />
    <section id="uses"></section>
  </main>
</Layout>
