---
import { installedApps } from "@/utils/getGist";
import { getSvgUrl, loadSvgs } from "@/utils/getSvgMatch";
import Layout from "../layouts/Layout.astro";
const svgs = await loadSvgs();

const props = {
	title: "Uses",
	description: "Things that I use on an almost daily basis.",
};
---

<Layout {...props}>
  <main>
    <h1 set:text="Uses" />
    <p set:html={props.description} />
    <p>Inspired by <a href="https://uses.tech/">uses.tech</a></p>
    <section id="uses">
      <style>
        @scope (#uses) {
          > ul {
            list-style: none;
            padding-inline: 0;
            display: flex;
            flex-direction: column;

            h3 {
              margin-block-start: var(--size-5);
              text-transform: capitalize;
            }
          }
        }
      </style>
      <ul>
        <li x-data="{ id: 'hardware' }">
          <h3 x-text="id"></h3>
          <ul>
            <li set:text="iPhone 13 Mini" /><li set:text="MacBook Air M2" /><li
              set:text="AirPods Pro (2nd Gen)"
            /><li set:text="Apple Watch SE (1st Gen)" /><li
              set:html=" Apple TV 4K (2nd Gen)"
            />
          </ul>
        </li>
        <li x-data="{ id: 'other gear' }">
          <h3 x-text="id"></h3><ul>
            <li>
              <a
                target="_blank"
                rel="external"
                href="https://www.apple.com/shop/product/HQ4D2ZM/A/lacie-mobile-drive-secure-usb-c-2tb-with-rescue?fnode=e47531e2500f236ed9e687f1769fc401062ac0e4575c7169919d885b5f3ca2b7cad862284b5644b6fc6a66d9e7124faaaf4c3d8c7d3844b5778c9c10eff9e0a63dd78c5eba30c8b0136934d12a3588ec00d433f42fac7a1d24a6e2eb1d84b715"
                set:text="LaCie Mobile Drive Secure USB-C 2TB with Rescue"
              /><span set:text=" • " /><span set:text="External Hard Drive" />
            </li>
            <li>
              <a
                target="_blank"
                rel="external"
                href="https://aranet.com/products/aranet4/"
                set:text="Aranet4"
              /><span set:text=" • " /><span set:text="CO2 monitor" />
            </li><li>
              <a
                target="_blank"
                rel="external"
                href="https://www.anker.com/products/y1811?variant=42206465327254"
                set:text="Anker 3-in-1 Cube with MagSafe"
              /><span set:text=" • " /><span set:text="wireless charger" />
            </li>
          </ul>
        </li>
        <li x-data="{ id: 'services' }">
          <h3 x-text="id"></h3><ul>
            <li>
              <a
                target="_blank"
                rel="external"
                href="https://vercel.com"
                set:text="Vercel"
              /><span set:text=" • " /><span set:text="hosting" />
            </li>
          </ul>
        </li>
        <li x-data="{ id: 'fonts' }">
          <h3 x-text="id"></h3><ul>
            <li>
              <a
                target="_blank"
                rel="external"
                href="https://monolisa.dev"
                set:text="MonoLisa"
              /><span set:text=" • " /><span set:text="dev font" />
            </li><li>
              <a
                target="_blank"
                rel="external"
                href="https://vercel.com/font"
                set:text="Geist"
              /><span set:text=" • " /><span set:text="web font" />
            </li>
          </ul>
        </li>
        <li x-data="{ id: 'extensions' }">
          <h3 x-text="id"></h3>
          <ul>
            <li>
              <a
                href="https://chromewebstore.google.com/detail/1password-%E2%80%93-password-mana/aeblfdkhhhdcdjpifhhbdiojplfjncoa"
                target="_blank"
                rel="noopener noreferrer"
                set:text="1Password"
              />
            </li>
            <li>
              <a
                href="https://chromewebstore.google.com/detail/dark-reader/eimadpbcbfnmbkopoojfekhnkhdbieeh"
                target="_blank"
                rel="noopener noreferrer"
                set:text="Dark Reader"
              />
            </li>
            <li>
              <a
                href="https://chromewebstore.google.com/detail/modern-for-wikipedia/emdkdnnopdnajipoapepbeeiemahbjcn"
                target="_blank"
                rel="noopener noreferrer"
                set:text="Modern for Wikipedia"
              />
            </li>
            <li>
              <a
                href="https://chromewebstore.google.com/detail/paycheck-for-x-formerly-t/ldgffedhocinnolmaaecnppdfmmofilp"
                target="_blank"
                rel="noopener noreferrer"
                set:text="PayCheck for X (Formerly Twitter)"
              />
            </li>
            <li>
              <a
                href="https://chromewebstore.google.com/detail/raindropio/ldgfbffkinooeloadekpmfoklnobpien"
                target="_blank"
                rel="noopener noreferrer"
                set:text="Raindrop.io"
              />
            </li>
            <li>
              <a
                href="https://chromewebstore.google.com/detail/refined-github/hlepfoohegkhhmjieoechaddaejaokhf"
                target="_blank"
                rel="noopener noreferrer"
                set:text="Refined GitHub"
              />
            </li>
          </ul>
        </li>
        <li x-data="{ id: 'shell setup' }">
          <h3 x-text="id"></h3><ul>
            <li>
              <a
                href="https://www.zsh.org/"
                target="_blank"
                rel="external"
                set:text="zsh"
              />
              <ul>
                <li>
                  <a
                    target="_blank"
                    rel="external"
                    href="https://gist.github.com/jacobdalamb/fb86121db4c731e0e4868483a68a6eee"
                    set:text="zshrc"
                  />
                </li>
                <li>
                  <a
                    target="_blank"
                    rel="external"
                    href="https://gist.github.com/jacobdalamb/6ed50d53225eabf75778b64b8d1fd8e3"
                    set:text="zprofile"
                  />
                </li>
              </ul>
            </li>
            <li>
              <a
                target="_blank"
                rel="external"
                href="https://www.nushell.sh/"
                set:text="nushell"
              /><span set:text=" • " /><span set:text="new preferred shell" />
              <ul>
                <li>
                  <a
                    target="_blank"
                    rel="external"
                    href="https://gist.github.com/jacobdalamb/7bd6be2c3e55bcece688c13cae486c85"
                    set:text="config"
                  />
                </li>
                <li>
                  <a
                    target="_blank"
                    rel="external"
                    href="https://gist.github.com/jacobdalamb/ccac1a73342f8b057efa9281e881370c"
                    set:text="env"
                  />
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li x-data="{ id: 'zed setup' }">
          <h3 x-text="id"></h3><ul>
            <li>
              <a
                target="_blank"
                rel="external"
                href="https://gist.github.com/jacobdalamb/24f8b9de66c5b3e8dba17381e2b78739"
                set:text="settings"
              />
            </li>
          </ul>
        </li>
        <li x-data="{ id: 'vscode setup' }">
          <h3 x-text="id"></h3><ul>
            <li>
              <a
                target="_blank"
                rel="external"
                href="https://gist.github.com/jacobdalamb/8f9100ca1aedabc8308dc94f5268dc28"
                set:text="extensions"
              />
            </li><li>
              <a
                target="_blank"
                rel="external"
                href="https://gist.github.com/jacobdalamb/40586ecc5127d210e22b8e936f9366cf"
                set:text="settings"
              />
            </li><li>
              <a
                target="_blank"
                rel="external"
                href="https://gist.github.com/jacobdalamb/db6d4416f806fe0ad53a3232be7bf4de"
                set:text="keybindings"
              />
            </li><li>
              <a
                target="_blank"
                rel="external"
                href="https://marketplace.visualstudio.com/items?itemName=miguelsolorio.symbols"
                set:text="file icons"
              />
            </li><li>
              <a
                target="_blank"
                rel="external"
                href="https://marketplace.visualstudio.com/items?itemName=miguelsolorio.fluent-icons"
                set:text="product icons"
              />
            </li>
            <li>
              <a
                target="_blank"
                rel="external"
                href="https://marketplace.visualstudio.com/items?itemName=miguelsolorio.min-theme"
                set:text="theme"
              />
            </li>
          </ul>
        </li>
        <li x-data="{ id: 'apps' }">
          <a
            href="https://gist.github.com/jacobdalamb/57a442c95e868894e657202d2feb2a8f"
          >
            <h3 x-text="id"></h3>
          </a>
          <ul>
            {
              installedApps.map((app) => {
                const svgUrl = getSvgUrl(app, svgs);

                return (
                  <li>
                    <a
                      set:text={app}
                      target="_blank"
                      rel="external"
                      href={
                        svgUrl
                          ? svgUrl
                          : `https://www.google.com/search?q=${app}`
                      }
                    />
                  </li>
                );
              })
            }
          </ul>
        </li>
      </ul>
    </section>
  </main>
</Layout>
