---
import Layout from "../layouts/BaseLayout.astro";
import Link from "../components/Link.astro";
const props = {
    title: "Uses",
    description: "My favorite products that I use",
    image: "uses",
};
import { validatedUses } from "../data";
---

<Layout {...props}>
    <main>
        <h2>What I use</h2>
        <p>
            Discover the apps and hardware that I use to streamline my workflow.
        </p>
        <section>
            <ul>
                {
                    validatedUses.map((useGroup) => (
                        <li>
                            {useGroup.title}
                            <ul>
                                {useGroup.use.map((useItem) => (
                                    <li>
                                        {useItem.url ? (
                                            <Link href={useItem.url}>
                                                {useItem.title}
                                            </Link>
                                        ) : (
                                            useItem.title
                                        )}
                                    </li>
                                ))}
                            </ul>
                        </li>
                    ))
                }
            </ul>
        </section>
    </main>
</Layout>
