---
import Tooltip from "./Tooltip.svelte";
---

<footer>
  <div>
    <a
      data-text="email me"
      class="tooltip"
      href="mailto:jacobtlamb@hey.com"
      rel="noreferrer"
      ><i role="button" class="fa-solid fa-envelope-square fa-2x"></i>
    </a>

    <a
      data-text="tweet me"
      class="tooltip"
      href="https://twitter.com/jacob_thesheep"
      rel="noreferrer"
      ><i role="button" class="fa-brands fa-twitter-square fa-2x"></i>
    </a>

    <a
      data-text="develop with me"
      class="tooltip"
      href="https://github.com/jacobthesheep"
      rel="noreferrer"
    >
      <i role="button" class="fa-brands fa-github-square fa-2x"></i>
    </a>
  </div>
  <p>
    Jacob Lamb | 2020 - {new Date().getFullYear()}
  </p>
</footer>

<style>
  footer {
    position: absolute;
    bottom: 0;
    padding-bottom: var(--size-fluid-1);
    display: grid;
    gap: var(--size-fluid-1);
  }
  div {
    display: grid;
    gap: var(--size-fluid-1);
    grid-auto-flow: column;
    max-width: var(--size-13);
  }
  div:hover a {
    opacity: 0.3;
  }
  p {
    font-size: var(--font-size-fluid-0);
  }
  .tooltip {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    height: 30px;
    width: 34px;
    transition: width 300ms ease-in-out 0s, background-color 300ms linear 200ms;
  }
  .tooltip:hover,
  .tooltip:focus-visible {
    opacity: 1;
    width: 142px;
    background-color: #1d4ed8;
    border-radius: 4px;
    color: #fff;
    transition: width 300ms ease-in-out 0s, background-color 100ms linear 0s;
  }
  .tooltip:focus-visible {
    outline: 1px solid #1d4ed8;
    outline-offset: 4px;
  }
  .tooltip:after {
    content: attr(data-text); /* here's the magic */
    margin-left: 12px;
    animation: fadeIn 600ms linear forwards;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @media (prefers-color-scheme: dark) {
    i {
      color: var(--gray-2);
    }
  }
</style>
