---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
    text?: string;
    isButton?: boolean;
    isExternal?: boolean;
    icon?: {
        name: string;
        style: string;
        size?: string;
        side?: "left" | "right" | "top" | "bottom";
        isFixedWidth?: boolean;
    };
}

const {
    text,
    href,
    isExternal = false,
    isButton = false,
    icon,
    ...attrs
} = Astro.props as Props;
---

<a
    href={href}
    rel={isExternal ? "external" : ""}
    class:list={[{ button: isButton }]}
    {...attrs}
>
    <slot />
    {isExternal && <i class="fa-solid fa-arrow-up-right" />}
</a>
