---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
    isExternal?: boolean;
    style?: "button primary" | "button secondary";
}

const { href, isExternal = false, style, ...attrs } = Astro.props as Props;
---

<a
    href={href}
    rel={isExternal ? "external" : "prefetch"}
    class:list={style}
    {...attrs}
>
    <slot />
</a>
