@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	*,
	*::before,
	*::after {
		@apply box-content;
	}
	* {
		@apply m-0 p-0;
	}
	::selection {
		@apply bg-slate-800 text-slate-50 dark:bg-slate-200 dark:text-slate-800;
	}
	html,
	body {
		@apply bg-slate-50 dark:bg-slate-800 text-slate-800 dark:text-slate-50;
	}
	/* Currently supported only on Firefox and Safari - https://caniuse.com/viewport-unit-variants */
	@supports (height: 100dvh) {
		html,
		body {
			@apply h-[100dvh];
		}
	}
	@supports not (height: 100dvh) {
		html,
		body {
			@apply h-full;
		}
	}
	body {
		@apply leading-normal antialiased;
	}
	body > * {
		@apply mx-auto w-4/5;
	}
	input,
	button,
	textarea,
	select {
		font: inherit;
	}
	input,
	select,
	textarea {
		font-size: 1rem;
	}
	ul,
	ol,
	li {
		@apply list-none;
	}
	header,
	section {
		@apply flex flex-col justify-center h-screen;
	}
	a {
		@apply transition-all duration-200 ease-out hover:ease-in;
	}
	h1 {
		font-size: clamp(1.5rem, 4vw + 1rem, 3rem);
	}
	h2 {
		font-size: clamp(1.75rem, 5vw + 1rem, 4rem);
	}
	h3 {
		font-size: clamp(2rem, 6vw + 1rem, 5rem);
	}
	h1,
	h2,
	h3 {
		@apply font-bold;
	}
	p {
		@apply text-lg max-w-prose;
	}
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply break-words mb-[1em];
	}
}
