@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}
	* {
		margin: 0;
		padding: 0;
	}
	@media (prefers-color-scheme: dark) {
		::selection {
			background-color: theme(colors.slate.50);
			color: theme(colors.slate.800);
		}
		html,
		body {
			background-color: theme(colors.slate.800);
			color: theme(colors.slate.50);
		}
	}
	::selection {
		background-color: theme(colors.slate.800);
		color: theme(colors.slate.50);
	}
	html,
	body {
		background-color: theme(colors.slate.50);
		color: theme(colors.slate.800);
	}
	/* Currently supported only on Firefox and Safari - https://caniuse.com/viewport-unit-variants */
	@supports (height: 100dvh) {
		html,
		body {
			height: 100dvh;
		}
		header,
		section {
			height: 100dvh;
		}
	}

	@supports not (height: 100dvh) {
		html,
		body {
			height: 100%;
		}
		header,
		section {
			height: 100vh;
		}
	}

	body {
		line-height: 1.5;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	body > * {
		margin: 0 auto;
		width: 80%;
	}
	input,
	button,
	textarea,
	select {
		font: inherit;
	}
	input,
	select,
	textarea {
		font-size: 1rem;
	}
	ul,
	ol,
	li {
		list-style-type: none;
	}
	header,
	section {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	a {
		transition: all 200ms ease-out;
	}
	a:hover {
		transition-timing-function: ease-in;
	}
	h1 {
		font-size: clamp(1.5rem, 4vw + 1rem, 3rem);
	}
	h2 {
		font-size: clamp(1.75rem, 5vw + 1rem, 4rem);
	}
	h3 {
		font-size: clamp(2rem, 6vw + 1rem, 5rem);
	}
	h1,
	h2,
	h3 {
		font-weight: bold;
	}
	p {
		font-size: 1.125rem;
		max-width: 65ch;
	}
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		overflow-wrap: break-word;
		margin-bottom: 1em;
	}
}
